<%= render "form", cat: @cat, action: :new %>

<!-- <form action="/cats" method="post">
  <label>Name:</label>
  <input type="text" name = "cat[name]">
</br>
  <label>Sex:</label>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
  <label for="cat_sex_female">Female</label>

  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
  <label for="cat_sex_male">Male</label>
<br>
  <label>Color:</label>
  <select name="cat[color]" id="cat_color">
    <option></option>
    <option value="red">Red</option>
    <option value="orange">Orange</option>
    <option value="yellow">Yellow</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
    <option value="indigo">Indigo</option>
    <option value="violet">Violet</option>
    <option value="rainbow">Rainbow</option>
  </select>
  <br>
  <label>Date:</label>
  <input type="date" name="cat[birth_date]">
  <br>
  <label>Description:</label><br>
  <textarea rows="5" cols="20" name=cat[description]>Tell me about your cat </textarea>

   <br>
  <input type="submit" value="Create cat">
</form> -->
